*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-size: montserrat;
}

/*Navigation styles*/
nav{
    position: fixed;
    background: red;
    height: 80px;
    width: 100%;
}

label.logo{
    color: white;
    font-size: 20px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    margin-left: 0;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,a:hover{
    background: black;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor:pointer;
    display: none;
}

#check{
    display: none;
}

@media(max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a{
        font-size: 16px;
    }
}

@media(max-width:858px){
    .checkbtn{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: gray;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
        margin:50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }

    a:hover, a.active{
        background: none;
        color:black
    }

    #check:checked ~ul{
        left: 0;
    }
}

/*Images styles*/
.logo-img{
    margin-top: 50px;
    margin-left: 32px;
    padding-top: 60px;
}

.title-text{
    margin-left: 32px;
    border-bottom: 1px solid #7c7b7b;
    margin-bottom: 20px;
    padding-top: 20px;
    width: 300px;
}

.underline{
    border-bottom: 1px solid #7c7b7b;
    margin-bottom: 20px;
    padding-top: 20px;
    width: 300px;
}

.campus_img{
    width: 100%;
    padding-bottom: 0;
}


/*Text styles*/
.Introduction{
    margin-top: 0;
    text-align: center;
    padding-top: 20px;
}